@import "tailwindcss";

@theme {
  --color-primary: #ee5f2b;
  --color-action: #3ea1ec;
  --color-background-light: #ffffff;
  --color-background-dark: #1e293b;
  --color-auth-bg: #fcfbfa;

  --font-sans: "Inter", "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Noto Serif", ui-serif, Georgia, serif;
}

@layer base {
  body {
    color: #0f172a;
    /* text-slate-900 */
    min-height: 100vh;
    @apply antialiased selection:bg-primary/30;
  }

  .dark body {
    background-color: var(--color-background-dark);
    color: #f1f5f9;
    /* text-slate-100 */
  }
}

@layer utilities {
  .auth-gradient {
    background: radial-gradient(circle at top left, rgba(238, 95, 43, 0.05) 0%, transparent 40%),
      radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.02) 0%, transparent 40%);
    background-color: var(--color-auth-bg);
  }
}